<%= form_with(model: resume) do |form| %>
  <% if resume.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

      <ul>
        <% resume.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.text_field :file_name, placeholder:"File name", class:"fild" %>
  </div>
  <div>
<%= form.file_field :attribute_name, accept: 'text/xml' ,class:"fild"%>
  </div>

  <div>
    <%= form.submit "Submit", class: "log_btn" %>
  </div>
<% end %>
